[submodule "lib/ExVectrArduinoPlatform"]
	path = lib/ExVectrArduinoPlatform
	url = https://github.com/ExVeCtr/ExVectrArduinoPlatform.git
[submodule "lib/ExVectrCore"]
	path = lib/ExVectrCore
	url = https://github.com/ExVeCtr/ExVectrCore.git
[submodule "lib/ExVectrHAL"]
	path = lib/ExVectrHAL
	url = https://github.com/ExVeCtr/ExVectrHAL.git
[submodule "lib/ExVectrSensor"]
	path = lib/ExVectrSensor
	url = https://github.com/ExVeCtr/ExVectrSensor.git
[submodule "lib/ExVectrMath"]
	path = lib/ExVectrMath
	url = https://github.com/ExVeCtr/ExVectrMath.git
[submodule "lib/ExVectrData"]
	path = lib/ExVectrData
	url = https://github.com/ExVeCtr/ExVectrData.git
[submodule "lib/ExVectrNetwork"]
	path = lib/ExVectrNetwork
	url = https://github.com/ExVeCtr/ExVectrNetwork.git
[submodule "lib/ExVectrActuator"]
	path = lib/ExVectrActuator
	url = https://github.com/ExVeCtr/ExVectrActuator.git
[submodule "lib/ExVectrDSP"]
	path = lib/ExVectrDSP
	url = https://github.com/ExVeCtr/ExVectrDSP
[submodule "lib/ExVectrControl"]
	path = lib/ExVectrControl
	url = https://github.com/ExVeCtr/ExVectrControl.git
[submodule "lib/ExVectrPackets"]
	path = lib/ExVectrPackets
	url = https://github.com/ExVeCtr/ExVectrPackets.git
